{% extends "base.html" %}

{% block title %}Task:{{ task.title }}{% endblock %}


{% block content %}
<div class="card-deck">
    <div class="card col-sm-8">
        <div class="card-body">
            <h3 class="card-title">{{ task.title }}</h3>
            {% if task.note %}
            <div class="card-text">{{ task.note|safe|urlize|linebreaks }}</div>
            {% endif %}
        </div>
    </div>

    <div class="card col-sm-4 p-0">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <button
                        class="btn btn-sm btn-primary"
                        id="EditTaskButton"
                        type="button"
                        data-toggle="collapse"
                        data-target="#TaskEdit">
                    Edit Task
                </button>

                <form method="post" action="{% url 'module_task:task_toggle_done' task.id %}" role="form" class="d-inline">
                    {% csrf_token %}
                    <div style="display:inline;">
                        <button class="btn btn-info btn-sm" type="submit" name="toggle_done">
                            {% if task.completed %} Mark Not Done {% else %} Mark Done {% endif %}
                        </button>
                    </div>
                </form>

                <form method="post" action="{% url 'module_task:delete_task' task.id %}" role="form" class="d-inline">
                    {% csrf_token %}
                    <div style="display:inline;">
                        <button class="btn btn-danger btn-sm" type="submit" onclick="return confirm('Are you sure you want to delete this task?');" name="submit_delete">
                            Delete
                        </button>
                    </div>
                </form>
            </li>
            <li class="list-group-item">
                <strong>Assigned to:</strong>
                {% if task.assigned_to %} {{ task.assigned_to.get_full_name }} {% else %} Anyone {% endif %}
            </li>
            <li class="list-group-item">
                <strong>Reported by:</strong> {{ task.created_by.get_full_name }}
            </li>
            <li class="list-group-item">
                <strong>Due date:</strong> {{ task.due_date }}
            </li>

            {% if task.completed %}
            <li class="list-group-item">
                <strong>Completed on:</strong> {{ task.completed_date}}
            </li>
            {% else %}
            <li class="list-group-item">
                <strong>Completed:</strong> {{ task.completed|yesno:"Yes,No" }}
            </li>
            {% endif %}

            <li class="list-group-item">
                <strong>In list:</strong>
                <a href="{% url 'module_task:list_detail' task.task_list.id task.task_list.slug %}">
                    {{ task.task_list }}
                </a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}



